# Dependencias
node_modules/

# Archivos de entorno (¡MUY IMPORTANTE PARA NO FILTRAR TU CONTRASEÑA!)
.env
.env*.local

# Archivos de build de TypeScript
dist/
out/
build/

# Archivos de la base de datos local antigua
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
